# === Python / Bytecode ===
__pycache__/
*.py[cod]
*$py.class

# === Virtualenv ===
.venv/
venv/

# === Banco local (Django) ===
db.sqlite3

# === Logs ===
*.log

# === Arquivos temporários / backup ===
*.*~
*.swp
*.swo

# === IDEs / Editor ===
.idea/
.vscode/

# === Arquivos de sistema ===
.DS_Store
.DB_store
Thumbs.db

# === Configurações sensíveis ===
.env
*.env

# === Django: arquivos gerados ===
staticfiles/
media/

# Não ignorar static das apps
!*/static/
!*/static/**
