{% extends 'blog/base.html' %}

{% block titulo %}{{ post.title }}{% endblock %}

{% block conteudo %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Publicado em {{ post.publish }} por {{ post.author.username }}
  </p>
  <p>{{ post.content|linebreaks }}</p>
  <br>
    <h4>
        <span style="margin-right:5px; margin-left:5px">
            <a href="{% url 'blog:sharepost' post.id %}">
            Enviar este post
            </a>
        </span>

        {% for c in comments %}
            <p> Comentários de {{ c.name }} <br>
                {{ c.content }}
            </p>

        {% endfor %}

        <span style="margin-right:5px; margin-left:5px">
            <a href="{% url 'blog:comment' post.id %}">
            Adicionar seu comentário
            </a>
        </span>
    </h4>
{% endblock %}
